<div class="sidebarSection">
    <div class="sidebarLogo">
        <img src="assets/images/themeLogo.png">
    </div>
    <div class="sidebarMenu">
        <ul>
            <li>
                <a href="#">
                    <img src="assets/images/sidebarIcons/home.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/sidebarIcons/list.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebarAppVersion">
        <p>VERSION</p>
        <h4>1.0</h4>
    </div>
</div>
